
/*Simoni Mouzoura


/* This is my first proper css file */

body{
    background-color:rgb(253, 242, 252);
    max-width: 450px;
	font-family: 'Montserrat', sans-serif;
    margin:auto
	
}

h1{
    color:rgb(66, 31, 75);
    font-family: 'Montserrat', sans-serif ;

} 
h3{
    color:rgb(66, 31, 75);
    font-family: 'Montserrat', sans-serif ;
} 
h4{
    color:rgb(60, 33, 66);
    font-family: 'Montserrat' , sans-serif ;
	font-size: 25px;
}

h5{ 
	color: rgb(124, 81, 134);
	font-family: 'Montserrat' , sans-serif;
	
}
p{
    color:rgb(84, 42, 95);
    font-family: 'Montserrat ', sans-serif ;
}

.chart{
	border-style: solid;
		border-width: 2px;
		margin-left: 5px;
		border-radius: 5px;
		padding: 5px;
		border-color: rgba(201, 176, 156, 0.836);
		background-color: white;
}

.container {
    align-content: content-distribution;
	justify-content: center;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	padding: 30px;
}

/* Button style */


.button {
	align-content: center;
	border-radius: 40px;
	font-family: 'Montserrat', sans-serif ;
	background-color: #ca7ab2;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	width: 100px;
	transition: all 2s;
	cursor: pointer;
	margin: 5px;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: .5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: .5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
